@model TransactionsResultViewModel

<table class="table table-sm table-bordered table-striped table-hover text-center card p-2 m-2">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Amount in USD</th>
            <th scope="col" class="w-10">Type</th>
            <th scope="col" class="w-40">Description</th>
            @if (User.IsInRole("Admin"))
            {
                <th scope="col" class="w-20">User</th>
            }
        </tr>
    </thead>
    <tbody  >
        @foreach (var item in Model.Transactions)
        {
            <tr>
                <td>@item.Date</td>
                <td>@item.Amount</td>
                <td class="w-10">@item.Type</td>
                <td class="w-40">@item.Description</td>
                @if (User.IsInRole("Admin"))
                {
                    <th class="w-20">@item.User</th>
                }
            </tr>
        }
    </tbody>
</table>

<nav aria-label="Page navigation">
    <div id="paginationList">
        <ul class="pagination">
            @{
                for (int i = 0; i < Model.NumberOfPages; i++)
                {
                    <li class="page-item">
                        <button id="pageNumberBtn" class="page-link" value="@i">@(i + 1)</button>
                    </li>
                }
            }
        </ul>
    </div>
</nav>
@*</div>*@

