@foreach (var item in Model)
        {
<div class="row">
    @*<td>
            @item.Id
        </td>*@
    <div class="col-lg-2">
        @item.Date
    </div>
    <div class="col-lg-2">
        @item.Amount
    </div>
    <div class="col-lg-2">
        @item.Type
    </div>
    <div class="col-lg-3">
        @item.Description
    </div>
    <div class="col-lg-3">
        @item.User
    </div>
</div>
        }

