@model HomeViewModel
@*<div class="card container pt-3">*@

@*<div class="row card-header">
        <div class="col  ">
            <a asp-area="" asp-controller="Transaction" asp-action="Search" class=" pt-2 btn btn-success">Transactions </a>

        </div>
        <div class="col ">
            <a asp-controller="Home" asp-action="Transactions" class="  pt-2 btn btn-dark">Admin Privileges</a>

        </div>
    </div>*@

@*<div class="row ">
        <div class="col-6  ">
            <canvas id="adminMoneyInSystemChart"
                    data-deposit="@Model.DepositeSum" data-withdraw="@Model.WithdrawSum"></canvas>
        </div>
        <br />
        <div class="col-6  ">
            <canvas id="adminMoneyPlayedInSystemChart"
                    data-win="@Model.WinSum" data-stake="@Model.StakeSum"></canvas>
        </div>

    </div>*@
@*</div>*@



<div class="nav-wrapper">
    <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">
        <li class="nav-item">
            <a class="nav-link mb-sm-3 mb-md-0 active text-white" id="tabs-icons-text-1-tab" data-toggle="tab" href="#tabs-icons-text-1" role="tab" aria-controls="tabs-icons-text-1" aria-selected="true"><i class="ni ni-cloud-upload-96 mr-2"></i>Charts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mb-sm-3 mb-md-0 text-white" id="tabs-icons-text-2-tab" data-toggle="tab" href="#tabs-icons-text-2" role="tab" aria-controls="tabs-icons-text-2" aria-selected="false"><i class="ni ni-bell-55 mr-2"></i>Promote</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mb-sm-3 mb-md-0 text-white" asp-area="" asp-controller="Transaction" asp-action="Search" role="tab" aria-controls="tabs-icons-text-3" aria-selected="false"><i class="ni ni-calendar-grid-58 mr-2"></i>Transactions</a>
        </li>
    </ul>
</div>

<div class="card shadow">
    <div class="card-body">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
                <div class="row ">
                    <div class="col-6  ">
                        <canvas id="adminMoneyInSystemChart"
                                data-deposit="@Model.DepositeSum" data-withdraw="@Model.WithdrawSum"></canvas>
                    </div>
                    <br />
                    <div class="col-6  ">
                        <canvas id="adminMoneyPlayedInSystemChart"
                                data-win="@Model.WinSum" data-stake="@Model.StakeSum"></canvas>
                    </div>

                </div>
            </div>
            <div class="tab-pane fade" id="tabs-icons-text-2" role="tabpanel" aria-labelledby="tabs-icons-text-2-tab">
                <form>
                    <div class="row">
                        <div class="col-md-3 offset-md-4">
                            <div class="form-group">
                                <input type="email" class="form-control" id="emailInput" placeholder="name@example.com">
                                @*<input type="email" class="form-control" id="userNameAuto" placeholder="name@example.com">*@
                            </div>
                        </div>

                        <div class="col-md-1">
                            <div class="form-group">
                                <button class="btn btn-default" id="btn-confirm">Confirm</button>
                            </div>
                        </div>
                        <div id="successAlert" style="display: none;" class="col-md-2">
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <span class="alert-inner--icon"><i class="ni ni-like-2"></i></span>
                                <span class="alert-inner--text">Success!</span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>

                        <div id="failAlert" style="display: none;" class="col-md-2">
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <span class="alert-inner--icon"><i class="ni ni-like-2"></i></span>
                                <span class="alert-inner--text">Invalid user!</span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>

                        <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="conf-modal">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title text-black">Confirm</h4>

                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    </div>
                                    <div class="modal-footer">

                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <button type="button" class="btn btn-default" id="modal-btn-yes">yes</button>
                                            <button type="button" class="btn btn-secondary" id="modal-btn-no">No</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </form>

            </div>

        </div>
    </div>
</div>